<div class="container my-3 text-black">
  <h3 class="text-black">Your Orders</h3>
  <h4><%= user.name %>'s Orders</h4>
  <% if (orders.length === 0) { %>
    <p>You have not placed any orders yet.</p>
  <% } else { %>
    <% orders.forEach((order, index) => { %>
      <div class="border p-3 my-4">
        <h5 class="text-primary">Order #<%= index + 1 %> - <%= order.orderDate.toDateString() %></h5>
        <p><strong>Status:</strong> <%= order.status %></p>
        <p><strong>Phone:</strong> <%= order.phone %></p>
        <p><strong>Address:</strong> <%= order.address %></p>
        <p><strong>Total Amount:</strong> Rs.<%= order.totalAmount.toLocaleString(undefined, {minimumFractionDigits: 2}) %></p>

        <% order.cartItems.forEach((item) => { %>
          <div class="d-flex justify-content-around border p-2 my-2">
            <div>
              <img src="<%= item.data.image %>" alt="Item Image" class="img-thumbnail"
                   style="width: 150px; height: 150px;">
            </div>
            <div>
              <strong>Item desc:</strong>
              <%= item.data.desc %><br>
              <strong>Size:</strong>
              <%= item.size %><br>
              <strong>Quantity:</strong>
              <%= item.quantity %><br>
              <strong>Single Item Price:</strong>
              Rs.<%= item.data.price %><br>
              <strong>Total Price:</strong>
              Rs.<%= item.TotalPrice %>
            </div>
          </div>
        <% }) %>
      </div>
    <% }) %>
  <% } %>
</div>
